# Ignore Python virtual environment
env/
Backend/datasense_app/uploads/

db.sqlite3


# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore other common files
.DS_Store
*.swp
