@tailwind base;
@tailwind components;
@tailwind utilities;

.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
  }
  

  @keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.notification-enter {
    animation: slide-in 0.5s forwards;
}

.notification-exit {
    animation: fade-out 0.5s forwards;
}
